// variables

$grey-6: #cccccc;
$border-radius: 4px;
$font-size: 1rem;
$line-height-base: 1.5;
$dark: #333333;
$grey-0: #f6f6f6;
$font-weight-semi-bold: 600;

// reset

.a-table {
  p {
    margin: 0;
  }
}

// style

.a-table {
  border: 1px solid $grey-6;
  border-spacing: 0;
  border-radius: $border-radius;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height-base;
  color: $dark;
  width: 100%;
  margin-bottom: 24px;
}

.a-table__cell {
  padding: 10px 16px;
  text-align: left;

  &:last-child {
    text-align: right;
  }

  &:not(:last-child) {
    border-right: 1px solid $grey-6;
  }
}

.a-table tr:not(:first-child) .a-table__cell {
  border-top: 1px solid $grey-6;
}

.a-table__head {
  background-color: $grey-0;
  font-weight: $font-weight-semi-bold;

  .a-table__cell {
    padding: 12px 16px;
    border-bottom: 1px solid $grey-6;
  }
}

.a-table__foot {
  .a-table__cell {
    border-top: 1px solid $grey-6;
  }
}
